{% if form.non_field_errors %}
  <div class="form-errors" role="alert">{{ form.non_field_errors }}</div>
{% endif %}
{% for field in form %}
  <div class="form-field{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
    {% if field.help_text %}
      <div class="field-help" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</div>
    {% endif %}
    {% if field.errors %}
      <div class="field-errors" id="{{ field.auto_id }}_error" role="alert">{{ field.errors }}</div>
    {% endif %}
  </div>
{% endfor %}
